html {
    scroll-behavior: smooth;
}


/* ===== GLOBAL ===== */
body {
    background: repeating-linear-gradient(100deg, #000, #2e2e2eab);
    color: #fff;
}

/* ===== HEADER  ===== */
header {
    width: 99%;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    white-space: nowrap;
}

header.hide {
    transform: translate(-50%, -120%);
    opacity: 0;
}



.header-container {
    height: 80px;
    min-height: 80px;
    max-height: 80px;

    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(25px);
    border-radius: 50px;
    overflow: hidden;
}

/* Logo */
.logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.rotation-img {
    position: absolute;
    width: 80px;
    height: 80px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logo h1 {
    color: rgba(255, 214, 33, 0.8);
}

/* Typing text */
.mid {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    color: #ffdd1aa6;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Caveat", cursive;
    font-size: 25px;
}

.loginbtn {
    color: white;
    border: none;
    max-height: 40px;
    padding: 10px 18px;
    border-radius: 30px;
    background: linear-gradient(45deg, #6b4f24ad, #ff3e04);
}

/* ===== HERO SECTION ===== */
.hero {
    z-index: 1;
    width: 90%;
    min-height: 100vh;
    overflow: hidden;
}

.slider-item {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease;
}

.slider-item.active {
    opacity: 1;
    visibility: visible;
}

.slider-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.slider-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.slider-item.active .slider-bg img {
    animation: zoom 7s linear forwards;
}

@keyframes zoom {
    to {
        transform: scale(1.15);
    }
}

.hero .slider-item.active .section-subtitle {
    font-size: 30px;
    margin-bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: reveal 1s ease forwards;
    animation-delay: 500ms;
}

.hero .slider-item.active .hero-title {
    font-size: 25px;
    animation: reveal 1s ease forwards;
    animation-delay: 1000ms;
}

.hero .slider-item.active .hero-text {
    animation: reveal 1s ease forwards;
    animation-delay: 1.5s;
}

.slider-reveal {
    opacity: 0;
    transform: translateY(90px);
}

.hero .slider-item.active .btn {
    animation: reveal 1s ease forwards;
    animation-delay: 2s;
}


@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ======animation====== */

.autoshow {
    animation: textappears both;
    animation-timeline: view();
    animation-range: entry 70% cover 100vh;
}

@keyframes textappears {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.imgrevel {
    animation: imgrevel both;
    animation-timeline: view(90% auto);
}

@keyframes imgrevel {
    from {
        filter: saturate(0) contrast(1) brightness(.0) blur(10px);
        opacity: 0;
        scale: .38;
        translate: 8rem 8rem 8rem 8rem;
    }

    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

/* ===== MENU ===== */
.menu1 {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 40px;
}

.partition {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partition h1 {
    font-size: 2.2rem;
    text-align: center;
    color: #ffffff;
}

.partition img {
    height: 40px;
    width: 300px;
}

.card {
    background: linear-gradient(135deg, #222, #2a2a2a);
    border-radius: 20px;
    padding: 20px;
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 35px 70px rgba(255, 140, 0, 0.6);
    background: linear-gradient(135deg, #2a1a00, #3a2400);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

.price {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ff9800;
}

.card h2{
    margin-bottom: 0;
}

button {
    background: linear-gradient(45deg, #ff9800, #ff5722);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

/* about us */
.chooseus {
    margin-top: 200px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chooseus p {
    margin-top: 100px;
    font-size: 2.2rem;
}

.chooseus img {
    width: 15%;
}

.collection {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.uscard {
    width: 30%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 100px;
    background: linear-gradient(135deg, #222, #2a2a2a);
    border-radius: 20px;
    padding: 20px;
    transition: 0.4s;
}

.uscard:hover {
    transform: scale(1.03);
    box-shadow: 0 35px 70px rgba(255, 140, 0, 0.6);
    background: linear-gradient(135deg, #2a1a00, #3a2400);
}

.uscard img {
    width: 50%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
}


/* footer */
footer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1080px) {
    .mid{
        display: none;
    }
    
}
@media (max-width: 720px){
    nav{
        display: none;
    }
}